<!-- nome da task
descrição da task
responsavel da task
data de criação
data de termino -->
<div class="content">
<div class="container">
    <h1>Formulário</h1>
<form>
<input type="text" name="Task" placeholder="Digite o nome da sua task"><br>
<input type="text" name="descrição da task" placeholder="Descreva a sua task"><br>
<input type="text" name="responsavel da task" placeholder="Digite quem é o responsavel pela task"><br>
<h3 class="ini">Data de inicio da Task</h3>
<input type="date" name="data de criação"><br>
<h3 class="final">Data de finalização da Task</h3>
<input type="date" name="data de termino"><br>
</form>
<br>
<div class="button">
    <button class="cancel">Cancelar</button>
    <button class="send">Enviar</button>
</div>

    
</div>


</div>