<div class="container">
  <div class="login">
    <h2>Create account</h2>

    <div *ngIf="isError" class="error">
      <i class="bx bxs-error"></i><span> Algo parece não estar certo!</span>
    </div>

    <div *ngIf="isCorrect" class="right">
      <i class="bx bx-check"></i><span> Login Criado</span>
    </div>

    <div class="input">
      <i class="bx bx-envelope-open"></i>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="E-mail"
        [(ngModel)]="email"
      />
    </div>

    <div class="input">
      <i class='bx bx-user'></i>
      <input
        type="text"
        name="Nome"
        id="Nome"
        placeholder="Nome"
        [(ngModel)]="user"
      />
      
    </div>
    <div class="input">
      <i class="bx bx-lock-alt"></i>
      <input
        type="password"
        name="passoword"
        id="passoword"
        placeholder="Passoword"
        [(ngModel)]="pwd"
      />
      <i class="bx bx-low-vision"></i>
    </div>

    <div class="input">
      <i class="bx bx-lock-alt"></i>
      <input
        type="password"
        name="Passoword Confirm"
        id="Passoword Confirm"
        placeholder="Passoword Confirm"
        [(ngModel)]="pwd1"
      />
      <i class="bx bx-low-vision"></i>
    </div>

    
    <div class="remember">
      <button class=back (click)="login()"><i class='bx bx-arrow-back'></i></button>
      <button (click)="login()"><i class='bx bx-log-in'></i></button>
</div>
