<div class="container">
  <div class="user_info">
    <div class="profile">
      <div class="img"></div>
      <h2>Hello, Luiz !</h2>
    </div>

    <div class="member">a</div>

    <div class="menu">
        <ul>
            <li>
                <i class='bx bxs-dashboard'></i>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <i class='bx bx-user'></i>
                <a href="#">My Profile</a>
            </li>
            <li>
                <i class='bx bx-list-ul'></i>
                <a href="#">My subscripition</a>
            </li>
            <li>
                <i class='bx bxs-edit-location'></i>
                <a href="#">My listings</a>
            </li>
            <li>
                <i class='bx bx-plus'></i>
                <a href="#">Add New listing</a>
            </li>
        </ul>




    </div>

  </div>


  <div class="content">Dashboard!</div>
</div>
