@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --bg-menu: #e2e9ef;
  --shadow: #696969;
}

a {
  font-size: 12px;
  color: #6957f8;
}

h3 {
  font-size: 16px;
  font-weight: 6 00;
}

h5{
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 380px;
}

.user_info {
  display: grid;
  grid-template-rows: 150px 1fr;
}

.user_info .menu li {
  list-style: none;
  padding: 10px 15px;
}
li:hover {
  border-radius: 8px;
  background-color: #e0dada;
  transition: 0.5s;
  opacity: 0.7;
}

.user_info .menu li i {
  color: var(--shadow);
  font-size: 24px;
  margin-right: 15px;
}

.user_info .menu li a {
  color: var(--shadow);
  font-size: 25px;
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-rows: 100px 200px 1fr;
  padding: 20px;
}

.content .search {
  display: grid;
  grid-template-columns: 150px auto;
  justify-content: space-between;
  align-items: center;
}

.user,
.user_info {
  background: #f7f8fa;
}

.content .search .input {
  background: #f1f8ff;
  justify-content: space-between;
  height: 30px;
  width: 300px;
  align-items: center;
  border-radius: 8px;
  display: flex;
}
.content .search .input input {
  background: transparent;
  border: none;
  margin-left: 15px;
  height: 30px;
  width: 160px;
  outline: none;
}

.content .search .input .icon {
  height: 100%;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6555e2;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.content .info .box1 {
  background: #fadbdd;
}
.content .info .box2 {
  background: #f0ecfe;
}

.content .info {
  display: grid;
  grid-template-columns: 2.7fr 1.3fr;
  gap: 30px;
  margin: 5px;
}

.content .adm {
  display: grid;
  grid-template-columns: 1.4fr 1.1fr;
  gap: 30px;
  margin-top: 30px;
}

.content .adm .new_task {
  background: red;
}

.content .adm .team_act {
  background: yellow;
}

.bx plus {
  color: white;
}
.content .adm .team_act .title {
  height: 50px;
  background: #e5f7f0;
  display: flex;
  border-radius: 5px;
  align-items: center;
  font-weight: bold;
}

.content .adm .team_act .title span {
  font-weight: 600;
  font-size: 18px;
}

.content .adm .team_act .title .ball {
  background: #43af74;
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0 25px;
}
.content .adm .team_act .title .ball i {
  color: #fff;
  font-size: 22px;
}
.container .user {
  display: grid;
  grid-template-rows: 70px 180px 120px 1fr;
  border-radius: 15px;
  padding: 0 25px;
}

.user .icones {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 15px 0 25px;
}
.user .icones i {
  font-size: 25px;
  margin: 0 10px;
  color: #696969;
}

.user .icones i:hover {
  transition: 0.5s;
  opacity: 0.7;
  cursor: pointer;
}

.user .perfil img {
  width: 100px;
  margin-bottom: 15px;
}
.user .perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user .perfil h5 {
  color: #6957f8;
  font-size: 15px;
  margin-top: 5px;
}

.user .trofeu .box {
  background: #f0edff;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.user .trofeu {
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}
.user .trofeu .box {
  align-items: center;
  display: grid;
  justify-content: center;
}

.user .trofeu .box .ball {
  background: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
}
.user .trofeu .box .ball i {
  font-size: 24px;
  color: #6957f8;
}
.user .trofeu .box .box-2 .ball i {
  font-size: 24px;
  color: #d8691f;
}

.user .trofeu .box .box-1,
.user .trofeu .box .box-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.user .trofeu .box .box-1 .text h5 {
  color: #6957f8;
}

.user .trofeu .box .box-2 .text h5 {
  color: #d8691f;
}

.user .trofeu .box .box-1 {
  border-right: 1px solid #6957f8;
}

.user .status {
}

.user .status .user-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 15px 0;
}

.user .status .task-list {
  background: #f47c4e;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
  height: 40px;
  margin: 10px;
}
.user .status .number span {
  width: 50px;
  height: 50px;
  background: #ffffff31;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 18px;
}

.user .status .box {
  background: #f47c4e;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.container .user .status .task-list:nth-child(3) {
  background: #6758ef;
}


.user .status .recent-task {
  display: flex;
  justify-content: space-between;
  margin: 15px;

}

.user .status .recent-task .status{
  display: flex;
  align-items: center;
  gap: 15px;
}

.user .status .recent-task .ball {
width: 10px;
height: 10px;
border-radius: 50%;
background: green;
}

.recent-task .time{
  color: #6957f8;
  font-size: 12px;
  font-weight: 300;
}
.recent-task h5{
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
}